.section-title {
	font-family: "Taviraj", serif;
	color: $color_main;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 23px;
	font-size: 30px;
}

.sc-connect {
	padding-top: 50px;
	background: #FFFCF8;
	background-image: url(/images/bg-connect1.png), url(/images/bg-connect2.png);
	background-size: auto, auto;
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right bottom;
}

.box-connect {
	position: relative;
	background: url(/images/caytruc.png) no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	height: 650px;
	display: flex;
	flex-flow: column;
	justify-content: center;

	&-icon {
		flex-shrink: 0;
		width: 66px;
		height: 66px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $color_main_2;
		border-radius: 50%;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 110%;
			border: 1px solid #D7A444;
			border-style: dashed;
			top: 5px;
			right: -95px;
			transform: rotate(130deg);
		}

		&::after {
			content: '';
			position: absolute;
			width: 55%;
			right: -55px;
			top: 50%;
			transform: translateX(-50%);
			border: 1px solid $color_main_2;
			border-style: dashed;
		}
	}

	&-item {
		font-size: 16px;
		display: flex;
		align-items: center;
		column-gap: 16px;
		padding: 16px 15px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		background: linear-gradient(90deg, #FFEBC4 -2.86%, rgba(255, 255, 255, 0) 100%);
		width: 47%;
		text-align: right;
		position: relative;

		span {
			display: inline-block;
			width: 60%;
		}

		&:nth-child(2) {
			left: 53%;
			background: linear-gradient(270deg, #FFEBC4 0%, rgba(255, 255, 255, 0) 102.86%);
			justify-content: flex-start;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			text-align: left;
			flex-flow: row-reverse;

			&::before {
				content: '';
				position: absolute;
				top: -35px;
				left: 25px;
				width: 12px;
				height: 12px;
				background: $color_main_2;
				border-radius: 50%;
				z-index: 2;
			}

			&::after {
				content: '';
				position: absolute;
				top: -39px;
				left: 21px;
				width: 20px;
				height: 20px;
				background: rgba(255, 227, 173, 0.6);
				border-radius: 50%;
				z-index: 1;
			}

			.box-connect-icon {
				&::before {
					content: '';
					top: 5px;
					right: 90px;
					transform: rotate(230deg);
				}

				&::after {
					content: '';
					right: 49px;
					top: 50%;
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		&::before {
			content: '';
			position: absolute;
			top: -35px;
			right: 20px;
			width: 12px;
			height: 12px;
			background: $color_main_2;
			border-radius: 50%;
			z-index: 2;
		}

		&::after {
			content: '';
			position: absolute;
			top: -39px;
			right: 16px;
			width: 20px;
			height: 20px;
			background: rgba(255, 227, 173, 0.6);
			border-radius: 50%;
			z-index: 1;
		}
	}
}